.pricing{
    background-image: url(".//img/intellecto/tasks/bg_gradient__price.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.package-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .packages h5{
    padding-top: 20px;
  }
  .unli{
  color:#fd71af;
  font-weight: 600;
  }
  .one-pri{
    color:#fd71af;
  }
  .two-pri{
    color:#49ccf9;
  }
  .three-pri{
    color:#7b68ee;
  }
  .plus{
    color:#7b68ee;
  }
  
  .busine{
    color:#49ccf9;
  }
  .packages {
    margin: 20px;
    width: 300px;
    height: 300px;
    padding-bottom: 1.5em;
    height: 561px;
    background-color: #fefffe;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
    flex-wrap: wrap;
    color: #000000;
  }
  #get-price{
    background-color: #fd71af;
    border-radius: 10px;
    color: white;
    border: 0px;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%) !important;
}

#get-price1{
    background-color: #49ccf9;
    border-radius: 10px;
    color: white;
    border: 0px;
    box-shadow: 0 10px 25px #49ccf9(123 104 238 / 50%) !important;
}
#get-price2{
    background-color: #7b68ee;
    border-radius: 10px;
    color: white;
    border: 0px;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%) !important;
}
  
  .list li {
    font-size: 14px;
    list-style: none;
    padding-inline-start: 0;
    border-width: 1px;
    
  }
  /* .first {
    margin-top: 40px;
    border-top: 1px solid #f4f4f4;
  } */
  .list {
    width: 80%;
    color: black !important;
  }
  ol,
  ul {
    padding: 0;
  }
  .pricing-but{
    padding-bottom: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e2321;
    -webkit-transition: 0.4s;
    box-shadow: 2px 6px 25px #1e2321;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: #50bfe6;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #50bfe6;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .caro-sel{
      padding-bottom: 50px;
      padding-top: 50px;
  }

  .but-faq{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  .final-faq h1{
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: 700;
  }